.titulo {
font-size: 24pt;
font-family: Youtube Star, Times New Roman;
color: black;
text-shadow: 3px 4px 3px #737373;

}

.texto{
	font-size: 20pt;
font-family: Youtube Star, Times New Roman;
text-align: center;
color: black;
}

audio{
	margin-right: 120px;
}
h3{
	color: black;
	font-size:21px;
	margin-left: 120px;
}
table{
	width: 450px;
	height:300px;
	border:2px solid black;
	border-spacing: 5px;
	margin:auto;
	box-shadow: 3px 3px 3px #737373;

}
table tr { 
	background-color: #545454;
 
	
}
table tr td {
		text-align:center; 
		width:33.33%}


table img {
	border-radius: 10px;
	box-shadow: 0px 17px 10px -10px #737373;
	cursor: pointer;
	transition: all ease-in-out 300ms;
}		
	input{
		border-color: black;
		background-color: #CBCBCB;
		margin-left: 15px;
		 font-size: 18px;
	}
	
	button{
		border-color: black;
		background-color: #CBCBCB;
		margin-left: 15px;
		 font-size: 18px;
	}